<h1 class="text-center"> Goal Reach % by Habits </h1>
<canvas id="goals_reached" class="w-1/2 h-48 mb-3 border border-gray-200 rounded-lg"></canvas>

<script>
    let habit_chart_1 = document.getElementById("goals_reached").getContext("2d")

    fetch("{% url 'goal_reach_trend' habit.id month.int %}")
        .then((response) => response.json())
        .then((data) => {
            let goals_reached = new Chart(habit_chart_1, data)
        })
        .catch((error) => {
            console.error("Error fetching data:", error)
        })
</script>
