<h1 class="text-center"> Goal Reach % by Habits </h1>
<canvas id="goals_reached" width="886" height="443" class="w-1/2 h-48 mb-3 border border-gray-200 rounded-lg"></canvas>

<script>
	let overall_chart_3 = document.getElementById("goals_reached").getContext("2d")

	fetch("{% url 'goals_reached' %}")
		.then((response) => response.json())
		.then((data) => {
			let goals_reached = new Chart(overall_chart_3, data)
		})
		.catch((error) => {
			console.error("Error fetching data:", error)
		})
</script>